<h1>Editing entertainment</h1>

<%= render "form", entertainment: @entertainment %>

<br>

<div>
  <%= link_to "Show this entertainment", @entertainment %> |
  <%= link_to "Back to entertainments", entertainments_path %>
</div>
