<p style="color: green"><%= notice %></p>

<h1>Entertainments</h1>

<div id="entertainments">
  <% @entertainments.each do |entertainment| %>
    <%= render entertainment %>
    <p>
      <%= link_to "Show this entertainment", entertainment %>
    </p>
  <% end %>
</div>

<%= link_to "New entertainment", new_entertainment_path %>
