

    <div class="movie-info left-division-movie">
  <% if movie.present? %>
    <p class="movie-title"><%= movie.name %></p>
  <% else %>
    <p>Movie information not available.</p>
  <% end %>
  
  <!-- Rest of your code -->
</div>
