<div class="movie-info left-division-movie">
      <p class="movie-title"><%= @post[:media_title] %></p>
      <div class="rating">
      <p class="stars"><%= "Rating: #{@post[:stars]} / 5" %></p>
  

      </div>
    </div>