<header class="top-bar">
<div class="logo-group">
<%= image_tag 'logo.png', alt: 'Company Logo', style: 'width: 150px; height: auto;' %>
<h1 class="logo">RATE-O-RAMA</h1>
</div>
  <%= render 'commons/github_partial' %>
</header>