<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<h1 class = "testing" >Home#index</h1>
<%= link_to "Gallery", root_path %>
<br>
<%= link_to "Go To Profile", root_path %>