<div class="movie-info left-division-movie">
      <p class="movie-title"><%= @post.game.name %></p>
      <a href="#"><img src="https://www.peacocktv.com/dam/growth/assets/Campaign/FiveNightsAtFreddys/fnaf-vertical-key-art.jpg" alt="Movie Image" class= "entertainment-image"></a>
      <div class="rating">
          <p class="stars"><%= "Rating: #{@post.stars} / 5" %></p>
      </div>
    </div>