<div class="movie-info left-division">
      <p class="movie-title"><%= @post.show.name %></p>
      <a href="#"><img src="https://www.peacocktv.com/dam/growth/assets/Campaign/FiveNightsAtFreddys/fnaf-vertical-key-art.jpg" alt="Movie Image" class= "entertainment-image"></a>
      <div class="rating">
          <p class="stars"><%= @post.show.description %></p>
      </div>
    </div>