<div class="container">
  <div class="speech-bubble">
    <div class="content-wrapper content">

    <div class="movie-info left-division">
      <p class="movie-title">Movie 2</p>
      <a href="#"><img src="https://www.peacocktv.com/dam/growth/assets/Campaign/FiveNightsAtFreddys/fnaf-vertical-key-art.jpg" alt="Movie Image" class= "entertainment-image"></a>
      <div class="rating">
          <p class="stars">★★★★☆</p>
      </div>
    </div>
    <div class="text-box right-division">
      <p>blah blah blah blah </p>
    </div>
    </div>
  </div>
</div>
<div class="user-info-bar">
  <div class="user-info">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="User Image" class="circular-image">
    <div class="user-details">
      <p class="username">Example Username</p>
      <button>View this Profile</button>
    </div>
  </div>
</div>