<div class="movie-info left-division-movie">
  <% if game.present? %>
    <p><%= link_to game.name, post_path(post) %></p>
    <p>Description: <%= post.description %></p>
    <p>Stars: <%= post.stars %> </p>
  <% else %>
    <p>Game information not available.</p>
  <% end %>
  
  <!-- Rest of your code -->
</div>
