<div class="gallery">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <%= link_to post.description, post_path(post) %>
      </div>

      <% if post.movie.present? %>
        <div class="post-content">
          <%= render partial: 'movie_partial', locals: { movie: post.movie, stars: post.stars } %>
        </div>

      <% elsif post.game.present? %>
        <div class="post-content">
          <%= render partial: 'game_partial', locals: { game: post.game, stars: post.stars } %>
        </div>

      <% elsif post.show.present? %>
        <div class="post-content">
          <%= render partial: 'show_partial', locals: { show: post.show, stars: post.stars } %>
        </div>

      <% else %>
        <div class="no-details">
          <p>No additional details available for this post.</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
