/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
<<<<<<< HEAD
 */
=======
 */
.btn-primary {
    background: none; /* Remove the background color */
    border: none; /* Remove the border */
    box-shadow: none; /* Remove any shadow */
}

/* To also remove the blue coloring when the button is clicked or focused */
.btn-primary:focus, .btn-primary:active {
    box-shadow: none;
}

>>>>>>> userAuth
