.top-bar {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid #ecf0f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    display: block;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: start;
    height: calc(100vh - 3rem); /* Adjust for top-bar height */
    overflow: auto;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px; /* Added gap for spacing */
  }
  
  .add-post-button {
    text-decoration: none;
    color: inherit;
  }
  
  .playing-card {
    background-color: #3498db;
    color: #ecf0f1;
    font-size: 2em;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-wrapper {
    padding: 20px;
    max-height: 100%;
    overflow: hidden; /* Change this from auto to hidden to remove the scroll */
    font-size: 1 rem; /* Adjust font size */
    word-wrap: break-word; /* This ensures long words will wrap and not overflow */
  }


.button {
    display: inline-block;
    padding: 10px 20px; /* Adjust the padding to your preferred size */
    background-color: #3498DB; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove the default link underline */
    border: 1px solid #3498DB; /* Button border color */
    border-radius: 5px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
    margin: 1%;
}
.button:hover {
    background-color: #258CD1; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* On screens with a maximum width of 768px, stack divisions vertically */
    .content {
        flex-direction: column;
    }
}
  .post-wrapper > * {
    max-width: 100%; /* Ensures that all children fit within the parent's width */
  }
  
  .bottom-bar {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .bottom-bar a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
