body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
.container {
    width: 80%;
    height: 50%;
    display: flex;
    background-color: white;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin: 2%; /* Add margin for spacing and center the container */
}

.speech-bubble {
    flex: 1;
    padding: 20px;
    position: relative;
}

.content-wrapper {
    height: auto;
    overflow: auto;
    flex: 1; /* Make the content-wrapper grow to fill the available space */
}

.entertainment-image {
    width: 35%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.movie-title {
    font-weight: bold;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.rating {
    margin-top: 10px;
    font-size: 20px;
    color: #FFC107;
}

.user-info-bar {
    position: relative; /* Change to relative positioning */
    padding: 10px; /* Adjust the padding as needed */
    float: left;
    height: auto;
    width: 20%; /* Set a fixed width for user-info-bar */
}

.user-info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    float: left;
}

.user-details {
    margin-left: 10px;
}

.username {
    font-weight: bold;
}

.button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Ensure button text is not underlined */
    display: inline-block; /* Display the button inline */
    border-radius: 5px; /* Add some border radius for a rounded look */
}

.button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.scrolling-text-box {
    flex: 1;
    padding: 20px;
}
.left-division-movie {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top of the container */
    align-items: center;
    height: auto; /* Fill the entire height of the parent (speech-bubble) */
}