header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
}

.circular-image {
  border-radius: 50%;
  margin-right: 10px;
}

main {
  padding: 20px;
  width: 100%;
  height: 60%; /* Adjusted to accommodate the new top and bottom bar heights */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  align-items: center; /* Center the button vertically in the carousel */
  justify-content: space-between;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.add-post-button {
  text-decoration: none;
  color: inherit;
}

.playing-card {
  background-color: #3498db;
  color: white;
  font-size: 2em;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.post-wrapper{
  flex: 1;
  padding: 20px;
  max-height: 100%;
  overflow: auto;
}
.post-wrapper h2,
.post-wrapper p{
  font-size: .5em;
}

.bottom-bar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  height: 80px; /* Set your desired height here */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottom-bar a {
  color: white;
  text-decoration: none;
}
